@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.innerHomeGrid {
    padding: 0 1rem 0 1rem;
}

.homeJumboContainer {
    max-width: 100px;
    max-height: 100px;
}

.homeJumbo {
    object-fit: contain;
}

.homeGrid {
    overflow: visible;
}